.Curriculums {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: #0f3057;
}

.Curriculums__navbar {
    display: flex;
    justify-content: flex-start;
    height:50px;
    width: 100%;
    background-color: #008891;
}

.Curriculums__user {
    display: flex;
    justify-content: flex-end;

}

.Curriculums__username {
    text-align: center;
    padding:0px;
    margin:0px;
    color:white;
    font-weight: var(--fontWeight_medium);
    font-size: var(--fontSizeText_min);
}


.Curriculums__header {
    display: flex;
    text-align: center;
    width:100%;
    padding:25px 0px;
}

.Curriculums__menu {
    padding:10px 0px;
    width: 50%;
    margin:auto;
    text-align: center;
}

.Curriculums__name {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.Curriculums__title {
    font-family: 'Alegreya', serif;
    font-weight: 800;
    font-size: 62px;
    color:white;
    kerning: 0em;
}

.Curriculums__underline {
    width:100%;
    max-width: 250px;
    height:5px;
    background-color: #008891;
    margin:auto;
}

.Curriculums__function {
    display: flex;
    text-align: center;
    max-width: 650px;
    width:100%;
}

.Curriculums__filter {
    width:100%;
}

.Curriculums__label {
    padding:0px 10px;    
}

.Curriculums__input {
    width: 100%;
    padding:5px;
    border-radius: 10px;
    border:0;
    font-weight: var(--fontWeight_regular);
    font-size: var(--fontSizeText_min);
}

.Curriculums__links {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width:100%;
}

.Curriculums__create, .Curriculums__delete {
    padding:10px;
}

.Curriculums__link {
    color:black;
    text-decoration: none;
}

.Curriculums__link:hover {
    color:white;
    text-decoration: none;
}

.Curriculums__main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:90px 0px;
}

.Curriculums-curriculum {
    max-width: 350px;
    width: 100%;
    padding:20px;
}

.Curriculums-curriculum__header {
    display: flex;
    width: 100%;
    background-color: #e7e7de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.Curriculums__text {
    font-weight: var(--fontWeight_regular);
    font-size: var(--fontSizeText_medium);
    color:#e7e7de;
}

.Curriculums-curriculum__no-view{
    height: 100vh;

}

.Curriculums-curriculum__name {
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e7e7de;
    width:80%;
}

.Curriculums-curriculum__title {
    font-weight: var(--fontWeight_bold);
    font-size: var(--fontSizeTitle_min);
    color:#00587a;
    margin:0px;
}

.Curriculums-curriculum__font {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.Curriculums-curriculum__icon {
    padding:0px 5px;
    font-size: var(--fontSizeText_min);
}

.Curriculums-curriculum__edit {
    color: #808080;
}

.Curriculums-curriculum__edit:hover {
    color: #570f0f;
    text-decoration: none;
}

.Curriculums-curriculum__delete {
    color: #808080;
}

.Curriculums-curriculum__delete:hover {
    color: #570f0f;
}

.Curriculums-curriculum__background {
    width: 100%;
    height: auto;
}
.Curriculums__img {
    width: 100%;
    object-fit: cover;
}

.Curriculums-curriculum__info {
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e7e7de;
}

.Curriculums-curriculum__text {
    font-weight: var(--fontWeight_regular);
    font-size: var(--fontSizeText_min);
    color:#00587a;
}

.Curriculums-curriculum__buttons {
    display: flex;
    justify-content: center;
    padding:20px 0px;
}

.Curriculums-curriculum__link {
    width:100%;
}

.Curriculums-curriculum__button {
    padding:5px 5px;
}

