@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    
    --fontSizeTitle_min: 1.7em;
    --fontSizeTitle_medium:2em;
    --fontSizeTitle_max:2.5em;

    --fontSizeText_extraMin:0.8em;
    --fontSizeText_min:1em;
    --fontSizeText_medium:1.3em;
    --fontSizeText_max:1.7em;

    --fontWeight_regular:400;
    --fontWeight_medium:500;
    --fontWeight_bold: 700;
    --fontWeight_black: 900,
}

.Register, .AddCurriculum {
    display:flex;
    justify-content: center;
    width:100%;
    height:100vh;
}

.Register-contain, .AddCurriculum-contain {
    width:100%;
    max-width: 1200px;
    margin:auto;
    padding:45px;
}

.Register-contain__name, .AddCurriculum-contain__name {
    display:flex;
    justify-content: center;
}

.Register-contain__title, .AddCurriculum-contain__title {
    font-weight: var(--fontWeight_bold);
    font-size: var(--fontSizeTitle_max);
}

.Register-contain__form, .AddCurriculum-contain__form {
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 650px;
    width: 100%;
    padding:20px;
}

.Register-contain__email, .Register-contain__password, .AddCurriculum-contain__username, .AddCurriculum-contain__last-name
, .AddCurriculum-contain__profession, .AddCurriculum-contain__email, .AddCurriculum-contain__age, .AddCurriculum-contain__place-of-residence {
    display:flex;
    flex-direction: column;
    padding:5px 0px;
    width: 100%;
}

.Register-contain__view {
    display:flex;
    width: 100%;
    align-items: center;

}

.Register-contain__show-password {
    padding:0px 10px;
}

.Register-contain__label, .AddCurriculum-contain__label {
    font-size:var(--fontSizeText_min);
    font-weight: var(--fontWeight_regular);
    width: 100%;
}

.Register-contain__input, .AddCurriculum-contain__input {
    width:100%;
    padding:5px;
}

.Register-contain__send, .AddCurriculum-contain__send {
    padding:5px 0px;
    
}

.Register-contain__button, .AddCurriculum-contain__button {
    font-size:var(--fontSizeText_min);
    font-weight: var(--fontWeight_regular);

}
