.Form{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: #e7e7de;
}

.Form-contain {
    width:100%;
    max-width: 1200px;
    margin:auto;
    padding:45px;
}

.Form-contain__name{
    display:flex;
    padding:20px;
    max-width: 650px;
    margin:auto;
}

.Form-contain__title{
    font-family: 'Alegreya', serif;
    font-weight: 800;
    font-size: 55px;
    color: #0f3057;
}

.Form-contain__form{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 650px;
    width: 100%;
    padding:20px;
}

.Form-contain__username, .Form-contain__last-name
, .Form-contain__profession, .Form-contain__email, .Form-contain__age, .Form-contain__place-of-residence {
    display:flex;
    flex-direction: column;
    padding:5px 0px;
    width: 100%;
}

.Form-contain__label {
    font-size:var(--fontSizeText_min);
    font-weight: var(--fontWeight_medium);
    width: 100%;
    color: #0f3057;
}

.Form-contain__input {
    width:100%;
    padding:5px;
}

.Form-contain__send{
    padding:5px 0px;   
}

.Form-contain__button{
    font-size:var(--fontSizeText_min);
    font-weight: var(--fontWeight_regular);
    background-color: #008891;
    color:white;
}
