.Register {
    display:flex;
    justify-content: center;
    width:100%;
    height:100vh;
    background-color: #570f0f;
}

.Register-contain {
    width:100%;
    max-width: 1200px;
    margin:auto;
    padding:45px;
}

.Register-contain__name {
    display:flex;
    padding:20px;
    margin:auto;
    max-width: 650px;
}

.Register-contain__title {
    font-family: 'Alegreya', serif;
    font-weight: 800;
    font-size: 55px;
    color: #e7e7de;
}

.Register-contain__form {
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 650px;
    width: 100%;
    padding:20px;
}

.Register-contain__email, .Register-contain__password {
    display:flex;
    flex-direction: column;
    padding:5px 0px;
    width: 100%;
}

.Register-contain__view {
    display: flex;
    align-items: center;
    padding:5px 0px;
}

.Register-contain__show-password {
    padding:0px 10px;
    color: #e7e7de;
}

.Register-contain__label {
    font-size:var(--fontSizeText_min);
    font-weight: var(--fontWeight_regular);
    width: 100%;
    color: #e7e7de;
}

.Register-contain__input {
    width:100%;
    padding:5px;
}

.Register-contain__send {
    padding:5px 0px;
}

.Register-contain__button {
    background-color: #916000;
}